{% extends 'base.html' %}
{% block content %}
    <div class="container mt-2 p-3">
        <div class="row p-3 text-center">
            <div>
                <h1> PokefriendMe FAQ!</h1>
            </div>
        </div>
        <div class="p-4">
            <div class="py-2">
                <h1>What is PokefriedMe</h1>
                <p>PokefriendMe is a site inspired on https://www.pokemongofriendcodes.com/ and is intended as a
                    programmer
                    execise</p>
            </div>
            <div class="py-2">
                <h1>What is a trainer code?</h1>
                <p>A poke trainer has a 12 digits code that can be shared with other players as digits or can be scanned
                    as
                    a QR code. It is used to add a player as a friend in Pokemon Go.</p>
            </div>
            <div class="py-2">
                <h1>How does it work</h1>
                <p>When you add your trainer code, it goes up to the beginning of the list.</p>
                <p>You can add what country are you from and what is your team in pokemon go, so people in your country
                    can add you.</p>
                <p>Your can add a 12 digits with spaces '0123 4567 8910' or without spaces between them '012345678910', either will work!</p>
            </div>
            <div class="py-2">
                <h1>Can I add my trainer code as many times as I want so I'm always on the top of the list?</h1>
                <p>NO! A trainer code can only be added once every 24h period.</p>
                <p>If you entered your code on July 7 2017 at 3 p.m you can only add it on July 8 2017 at 3 p.m</p>
            </div>
            <div class="py-2">
                <h1>If I add my trainer code two days in a row, will I appear twice in the trainers list?</h1>
                <p>No. As trainer's code are unique, your code will only appear once and every time you add it again
                    (respecting the 24h limit)
                    you will be passed to the begining of the line.</p>
            </div>
        </div>
    </div>
{% endblock %}